{% extends 'store/main.html' %}
{% load static %}
{% block content %}
	<div class="row">
		<div class="col-lg-12">
			<div class="box-element">

				<a class="btn btn-outline-dark" href="{% url 'index' %}">&#x2190; Continuar comprando</a>

				<br>
				<br>
				<table class="table">
					<tr>
						<th><h5>Artículos: <strong>{{order.get_cart_items}}</strong></h5></th>
						<th><h5>Total:<strong> ${{order.get_cart_total}}</strong></h5></th>
						<th>
							<a style="float:right; margin:5px;" class="btn btn-success" href="{% url 'checkout' %}">Pagar</a>
						</th>
					</tr>
				</table>

			</div>

			<br>
			<div class="box-element">
				<div class="cart-row">
					<div style="flex:2"></div>
					<div style="flex:2"><strong>Artículo</strong></div>
					<div style="flex:1"><strong>Precio</strong></div>
					<div style="flex:1"><strong>Cantidad</strong></div>
					<div style="flex:1"><strong>Total</strong></div>
				</div>
				{% for item in items %}
				<div class="cart-row">
					<div style="flex:2"><img class="row-image" src="{{item.producto.imageURL}}"></div>
					<div style="flex:2"><p>{{item.producto.nombre}}</p></div>
					<div style="flex:1"><p>${{item.producto.precio}}</p></div>
					<div style="flex:1">
						<p class="quantity">{{item.cantidad}}</p>
						<div class="quantity">
							<img data-product="{{item.producto.id}}" data-action="add" class="chg-quantity update-cart" src="{% static  'img/arrow_up.png' %}">
					
							<img data-product="{{item.producto.id}}" data-action="remove" class="chg-quantity update-cart" src="{% static  'img/arrow_down.png' %}">
						</div>
					</div>
					<div style="flex:1"><p>${{item.get_total}}</p></div>
				</div>
				{% endfor %}
			</div>
		</div>
	</div>
{% endblock content %}
