{% extends 'store/main.html' %}
{% load static %}
{% block content %}
	<div class="row">
		{% for product in products %}
		<div class="col-lg-4">
			{% if product.imagen %}
                <img class="thumbnail" src="{{product.imageURL}}">
            {% else %}
                <img class="thumbnail" src="{% static 'img/default.png' %}">
            {% endif %}
			<div class="box-element product">
				<h6><strong>{{product.nombre}}</strong></h6>
				<hr>

				<button class="btn btn-outline-secondary add-btn">Añadir al Carro</button>
				<a class="btn btn-outline-success" href="#">View</a>
				<h4 style="display: inline-block; float: right"><strong>${{product.precio}}</strong></h4>

			</div>
		</div>
		{% endfor %}
	</div>

{% endblock content %}
